/* Debug
*{outline:1px solid #fff!important;background-color:rgba(0,2,54,.1)!important}
*/

/*------------------------------------------------------------------------------
                                  Navigation
------------------------------------------------------------------------------*/
#main-nav ul, footer ul {
  background-color: black;
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

#main-nav li, footer li {
  display: inline;
}

#main-nav a, footer a {
  color: #d3d3d3;
  text-decoration: none;
}

#main-nav a {
  font-size: 1.5em;
  padding-left: 2em;
  padding-right: 2em;
}

a:hover {
  background-color: rgba(0, 255, 0, .25);
}

@media (max-width: 850px) {
  #main-nav a {
    display: block;
    padding: .25em 0;
  }
}

/*------------------------------------------------------------------------------
                                 Main Section
------------------------------------------------------------------------------*/
#landing-page, #about-section, #portfolio-section, #blog-section, #contact-section {
  height: 500px;
}

#landing-page, #portfolio-section, #contact-section {
  background-color: rgb(0, 0, 115);
}

#landing-page {
  text-align: center;
}

#landing-page h1 {
  display: inline;
  margin: 0;
  position: relative;
  top: 50%;
}

/*------------------------------------------------------------------------------
                                 Footer
------------------------------------------------------------------------------*/
footer li {
  color: #d3d3d3;
}
